<main class="h-full w-screen flex flex-col">
    <div class="max-w-6xl p-6 mx-auto flex-grow">
        <div class="grid grid-cols-12 gap-8 h-full mt-6">
            <div class="lg:col-span-4 mb-24 col-span-12 h-12 flex flex-col items-center lg:items-start">
                {{> basics}}
            </div>
            <div class="lg:col-span-8 col-span-12 w-full h-full">
                <div class="flex flex-col space-y-6">
                    <div>
                        <div class="flex my-4">
                            <p class="font-semibold text-left bg-gray-800 rounded-sm p-1 pr-12 text-gray-100 flex items-center justify-center">
                                About
                            </p>
                        </div>
                    {{> basicscont}}
                    </div>
                    <div>
                        <div class="flex my-4">
                            <p class="font-semibold text-left bg-gray-800 rounded-sm p-1 pr-12 text-gray-100 flex items-center justify-center">
                                Projects
                            </p>
                        </div>
                        {{> projects}}
                    </div>
                    <div>
                        <div class="flex my-4">
                            <p class="font-semibold text-left bg-gray-800 rounded-sm p-1 pr-12 text-gray-100 flex items-center justify-center">
                                Work Experience
                            </p>
                        </div>
                        {{> workexperience}}
                    </div>
                    <div>
                        <div class="flex my-4">
                            <p class="font-semibold text-left bg-gray-800 rounded-sm p-1 pr-12 text-gray-100 flex items-center justify-center">
                                Eductaion
                            </p>
                        </div>
                        {{> education}}
                    </div>
                    <div>
                        <div class="flex my-4">
                            <p class="font-semibold text-left bg-gray-800 rounded-sm p-1 pr-12 text-gray-100 flex items-center justify-center">
                                Stacks
                            </p>
                        </div>
                        {{> stacks}}
                    </div>
                </div>
            </div>
            <div class="text-center col-span-12 py-4">
                <div class="detail no-print">
                <a href="https://resume.nickgraffis.me/resume.pdf" class="print:hidden underline cursor-pointer transition-colors duration-150 ease-in-out hover:text-fuchsia-700" itemprop="pdf" target="_blank">
                    PDF Version
                </a>
                </div>
                <div class="detail print-only">
                <a href="https://resume.nickgraffis.me" class="hidden print:inline-flex underline cursor-pointer transition-colors duration-150 ease-in-out hover:text-fuchsia-700" itemprop="pdf" target="_blank">
                    Online Version
                </a>
                </div>
                <div class="text-gray-600 text-sm">Last updated at {{buildTime ''}} </div>
            </div>
        </div>
    </div>
</main>